<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>

<body>
    <h1>Welcome to Quoting Dojo root route. Index.ejs</h1>
    <form action="/send_quote" method="post">
        Your Name:
        <input type="text" name="name"> Your Quote:
        <input type="text" name="quote">
        <input type="submit" value="Submit">

        <form action="/skipToQuote" method="post">
            <input type="submit" value="Skip To Quotes">
        </form>
    </form>
</body>

</html>