<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Mongoose</title>
</head>

<body>
    <h1>New.ejs Add a new Mongoose</h1>
    <form action="/submitNew" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="hobby" placeholder="Hobby">
        <input type="submit" value="Create New Mongoose">
    </form>
    <a href="/">Main Page / Display Page</a>
</body>

</html>