<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Mongoose </title>
</head>
<body>
    <h1>edit.ejs Edit Mongoose</h1>

    <form action="/updateMong/<%=thisMong._id %>" method="post">
        <input type="text" value="<%= thisMong.name %>" name="name">
        <br><br>
        <input type="text" value="<%= thisMong.age %>" name="age">
        <br><br>
        <input type="text" value="<%= thisMong.hobby %>" name="hobby">
        <br><br>
        <input type="submit" value="Update">
        <br><br>
    </form>

    <a href="/">Go Home</a>
</body>
</html>