<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard Index</title>
</head>

<body>
    <h1>Mongoose Dashboard index.ejs page</h1>

    <% for(var i = 0; i < mongsKey.length; i++) { %>
        <p>
            <a href="/profile/<%=mongsKey[i]._id %>"> Name:
                <%= mongsKey[i].name %>.</a>

            <% } %>
                <br>
                <br>
                <a href="/new">Add A New Mongoose</a>

</body>

</html>