<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <h1>This is the root route</h1>
    <div>
        <form action="/form_submit" method="POST">
            <input type="text" name="name" placeholder="Name">
             <br><br>
            <select name="location">
                <option>Chicago</option>
                <option>NYC</option>
                <option>Seattle</option>
            </select>
            <br><br>
            <select name="fav_lang">
                <option>Hebrew</option>
                <option>Python</option>
                <option>C#</option>
            </select>
            <br><br>
            <textarea name="comments" id="" cols="30" rows="10"></textarea>
            <br><br>
            <input type="submit" value="Submit Form">
        </form>
    </div>

 
</body>
</html>