<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter Assignment</title>
</head>
<body>
    <h1>Hi Mendel! </h1>
    <div>
        <h2><%= count_key %></h2>
    </div>
    <form action="reset" method="get">
        <input type="submit" value="Reset">
    </form>

    <form action="add_two" method="get">
        <input type="submit" value="+2 to counter">
    </form>
</body>
</html>