<h1>
  Please Login By Entering a Username
</h1>

<h1 *ngIf ="loggedUser"> Current Logged In User: {{ loggedUser.username }}</h1>

<div>
  <form (submit)="formSubmit()">
    <input type="text" name="username" 
    placeholder="Username"
    required
    minlength="3"
    [(ngModel)]="newUser.username">


    <button type="submit">Submit</button>
    
  </form>

  <button (click)="getAllUsers()">Get All Users</button>

  <div *ngFor="let user of allUsers">
    <fieldset>
      {{ user._id | json }}
      {{ user.username | json }}
    </fieldset>
  </div>
</div>