<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}
  </h1>

<div>
  <fieldset>
    <h1>Dojo Mail</h1>
    <thead>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </thead>
    <tbody>
      <tr *ngFor="let x of emails">
        <td >{{x.email | lowercase}}</td>

        <td>
          <span *ngIf="x.importance"> High </span>
          <span *ngIf="!x.importance"> Low </span>
        </td>
        <td>{{ x.subject }}</td>
        <td>{{ x.content}}</td>
      </tr>
    </tbody>
  </fieldset>
</div>


  <!-- <p [ngClass]="{
    'red': myBoolVar,
    'bold': myBoolVar
  }" >{{myStr}}</p>
  <p > {{mynum | currency}}</p>
  <input type="text" [value]="title">
  <p>{{ today | date }}</p>
  </div>

  <div>
<h1 *ngIf="myBoolean"> Show This</h1>
<h1 *ngIf="!myBoolean"> Don't Show This</h1>
<ul>
  <li *ngFor="let num of myArray; let idx = index" >
    {{num}}
    {{idx}}
  </li>
</ul>
  </div> -->